<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">{{ dato.titolo }}</h5>
  </div>
  <div class="card-body">
    <h1 class="display-3">{{ dato.temperatura }}</h1>
    <p class="lead">{{ dato.paragrafo }}</p>
    <!-- Al momento l'immagine non c'è o è fittizia deve cambiare in base al meteo poi si pensa come, per ora ce l'hai settata come stringa vuota nei json  -->
    <img
      src="https://www.example.com/sunny-icon.png"
      alt="Soleggiato"
      class="img-fluid my-3"
      style="width: 100px"
    />
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Umidità: {{ dato.umidita }}</li>
      <li class="list-group-item">Vento: {{ dato.vento }}</li>
    </ul>
  </div>
  <div class="card-footer text-muted">Ultimo aggiornamento: 10:30 AM</div>
</div>
