<div class="d-flex justify-content-start mt-3">
  <input
    class="form-control-sm w-50 me-2"
    list="datalistOptions"
    id="exampleDataList"
    placeholder="City"
    [(ngModel)]="inputCityValue"
  />
  <button class="btn btn-dark" type="button" (click)="getInputValue()">
    Check the wheater!
  </button>
</div>

<div class="card text-center mt-4">
  <div class="card-header">
    <h5 class="card-title">Welcome Veronica!</h5>
  </div>
  <div class="card-body">
    <h1 class="display-3"></h1>
    {{ responseDataWheater.current.temperature_2m }}°
    <p class="lead"></p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Precipitazioni:{{ responseDataWheater.current.precipitation }}
      </li>
      <li class="list-group-item">
        Umidità: {{ responseDataWheater.current.relative_humidity_2m }}
      </li>
    </ul>
    <li class="list-group-item">
      Vento: {{ responseDataWheater.current.wind_speed_10m }}
    </li>
  </div>
</div>
