<div class="d-flex justify-content-start mt-3">
  <input
    class="form-control-sm w-50 me-2"
    list="datalistOptions"
    id="exampleDataList"
    placeholder="City"
    [(ngModel)]="inputCityValue"
  />
  <button class="btn btn-dark" type="button" (click)="wheatherManager()">
    Check the wheather!
  </button>
</div>

<div class="card mt-4">
  <div class="m-4">
    <h2 class="card-title">Hello, Veronica!</h2>
  </div>
  <div class="card-body">
    <h3 class="p-2">
      Today it's {{ responseDataWheater.current.temperature_2m }}°
    </h3>
    <div class="d-flex flex-row">
      <div class="p-2">
        <img src="../../../assets/icon/rain.png" style="width: 35px" alt="" />
      </div>
      <div class="p-2">
        <h6>precipitation: {{ responseDataWheater.current.precipitation }}%</h6>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2">
        <img
          src="../../../assets/icon/humidity.png"
          style="width: 35px"
          alt=""
        />
      </div>
      <div class="p-2">
        <h6>
          humidity: {{ responseDataWheater.current.relative_humidity_2m }}%
        </h6>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2">
        <img src="../../../assets/icon/wind.png" style="width: 35px" alt="" />
      </div>
      <div class="p-2">
        <h6>Wind: {{ responseDataWheater.current.wind_speed_10m }} km/h</h6>
      </div>
    </div>
  </div>
</div>
