<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <div class="profile-icon">
        <img src="../../../assets/icon/girl.png" alt="" />
        <p class="mt-2 text-white">Admin</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="profile-icon">
        <img src="../../../assets/icon/woman.png" alt="" />
        <p class="mt-2 text-white">Mum</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="profile-icon">
        <img src="../../../assets/icon/profile.png" alt="" />
        <p class="mt-2 text-white">Dad</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="profile-icon">
        <img src="../../../assets/icon/boy.png" alt="" />
        <p class="mt-2 text-white">Brother</p>
      </div>
    </div>
  </div>
</div>
