<div class="container">
  <div class="row">
    <div class="col">
      <app-navbar class="mb-5"></app-navbar>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-card class="p-5" [dato]="datiService.listaDati[0]"></app-card>
        <div class="d-flex justify-content-between align-items-center">
          <app-titolo
            [text]="'Veronicas House'"
            class="text-white"
          ></app-titolo>
          <app-dropdown></app-dropdown>
        </div>
      </div>
      <div class="col mt-3">
        <div class="container">
          <app-titolo
            [text]="'My Devices'"
            class="text-bg-primary"
          ></app-titolo>
          <div class="row row-cols-2 pt-3">
            <div
              *ngFor="let datoCard of datiService.listaDatiOnOffDevices"
              class="col p-2"
            >
              <app-button-card [datoCard]="datoCard"></app-button-card>
              <div class="container"></div>
            </div>
            <app-titolo [text]="'Members'" class="text-white m-3"></app-titolo>
          </div>
          <app-profile-card></app-profile-card>
        </div>
      </div>
    </div>
  </div>
</div>
