<div class="card text-bg-white" style="max-width: 18rem">
  <div class="d-flex justify-content-between">
    <h5 class="p-2">{{ datoCard.titolo }}</h5>
    <img class="m-2" style="width: 15%" [src]="datoCard.img" alt="" />
  </div>
  <div class="card-body">
    <button
      type="button"
      class="btn active"
      data-bs-toggle="button"
      aria-pressed="true"
    >
      ON
    </button>
    <button
      type="button"
      class="btn active m-2"
      data-bs-toggle="button"
      aria-pressed="true"
    >
      OFF
    </button>
  </div>
</div>
