<div
  *ngIf="selectedDevice"
  class="card text-bg-light mb-3"
  style="max-width: 50rem"
>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title m-3">{{ title }}</h5>
      <div>
        <button
          type="button"
          class="btn active m-2"
          data-bs-toggle="button"
          aria-pressed="true"
        >
          ON
        </button>
        <button
          type="button"
          class="btn active"
          data-bs-toggle="button"
          aria-pressed="true"
        >
          OFF
        </button>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="selectedDevice.id">
    <app-temp-control-panel
      *ngSwitchCase="1"
      [currentIndex]="currentIndexFridge"
      [interval]="intervalValueFridge"
      (indexChange)="updateIndex('fridge', $event)"
    >
    </app-temp-control-panel>

    <app-temp-control-panel
      *ngSwitchCase="2"
      [currentIndex]="currentIndexAirCond"
      [interval]="interValueAirCond"
      (indexChange)="updateIndex('airCond', $event)"
    >
    </app-temp-control-panel>

    <app-temp-control-panel
      *ngSwitchCase="3"
      [currentIndex]="currentIndexLights"
      [interval]="interValueLights"
      (indexChange)="updateIndex('lights', $event)"
    >
    </app-temp-control-panel>

    <app-temp-control-panel
      *ngSwitchCase="4"
      [currentIndex]="currentIndexTemperature"
      [interval]="interValueTemperature"
      (indexChange)="updateIndex('temperature', $event)"
    >
    </app-temp-control-panel>
  </ng-container>
</div>
